<!doctype html>
<html>

<head>
  <title>Workout Tracker</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous"
    referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Anton&family=Beau+Rivage&family=Dancing+Script&family=Pacifico&family=Playfair+Display:ital@1&family=Roboto+Condensed&family=Source+Sans+Pro:wght@200&family=Square+Peg&family=Tapestry&family=Tiro+Devanagari+Marathi&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">

    <div class="page-header text-center">


      <section class="main">
        <h1> Alchemy   <i class="fa-solid fa-dumbbell"></i> House </h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </section>

      <!-- LOCAL INFORMATION -->
      <div class="col-sm-6">
        <div class="well">
          <h3><span class="fa fa-user"></span> Local</h3>

          <% if (user.local.email) { %>
          <p>
            <strong>id</strong>: <%= user._id %><br>
            <strong>email</strong>: <%= user.local.email %><br>
            <strong>password</strong>: <%= user.local.password %>
          </p>

          <a href="/unlink/local" class="btn btn-default">Unlink</a>
          <% } else { %>
          <a href="/connect/local" class="btn btn-default">Connect Local</a>
          <% } %>

        </div>
      </div>

      <!-- Add a workout -->
      <% if (user.local.email) { %>
      <form class="form" action="/messages" method="POST">

        <section class="workoutType">
          <legend>Select an area:</legend>
            <legend>
          <section class="radioSelection">
            <section class="formRadioButtons">
              <input type="radio" id="legs" name="area" value="legs" checked>
              <label for="legs">Legs</label>
            </section>

            <section class="formRadioButtons">
              <input type="radio" id="back" name="area" value="back">
              <label for="back">Back</label>
            </section>

            <section class="formRadioButtons">
              <input type="radio" id="arms" name="area" value="arms">
              <label for="arms">Arms</label>
            </section>

            <section class="formRadioButtons">
              <input type="radio" id="chest" name="area" value="chest">
              <label for="chest">Chest</label>
            </section>

            <section class="formRadioButtons">
              <input type="radio" id="shoulders" name="area" value="shoulders">
              <label for="shoulders">Shoulders</label>
            </section>
            <section class="formRadioButtons">
              <input type="radio" id="core" name="area" value="core">
              <label for="core">Core</label>
            </section>
          </legend>
          </section>


        </section>

        <section class="workoutDetails">
          <input type="text" placeholder="Exercise" name="msg">
          <input type="number" min="1" placeholder="Sets" name="msg">
          <input type="number" min="1" placeholder="Reps" name="msg">
          <button class="log" type="submit">Log</button>

        </section>

      </form>
      <% } %>



<section class="areaSorting">
<section class="areaOne">

  <!-- Legs section -->
  <ul class="legs">
    <h3>Leg Workouts</h3>
    <% for(var i=0; i<messages.length; i++) {%>
    <% if (messages[i].area === "legs")  { %>
    <li class="message <%= messages[i].bookmarked ? 'blue' : '' %>">
      <h5><%= user.local.email %></h5>
      <h5>Exercise: <%= messages[i].msg[0] %></h5>
      <h5>Sets: <%= messages[i].msg[1] %></h5>
      <h5>Reps: <%= messages[i].msg[2] %></h5>
      <span>Likes: <%= messages[i].thumbUp %></span>
      <span><i class="fa-solid fa-fire"></i></i></span>
      <span><i class="fa-solid fa-bookmark"></i></i></span>
      <span><i class="fa fa-trash" aria-hidden="true"></i></span>
    </li>
    <% } %>
    <% } %>
  </ul>

  <!-- Back section -->
  <ul class="back">
    <h3>Back Workouts</h3>

    <% for(var i=0; i<messages.length; i++) {%>
    <% if (messages[i].area === "back")  { %>
    <li class="message <%= messages[i].bookmarked ? 'blue' : '' %>">
      <h5><%= messages[i].name %></h5>
      <h5>Exercise: <%= messages[i].msg[0] %></h5>
      <h5>Sets: <%= messages[i].msg[1] %></h5>
      <h5>Reps: <%= messages[i].msg[2] %></h5>
      <span>Likes: <%= messages[i].thumbUp %></span>
      <span><i class="fa-solid fa-fire"></i></i></span>
      <span><i class="fa-solid fa-bookmark"></i></i></span>
      <span><i class="fa fa-trash" aria-hidden="true"></i></span>
    </li>
    <% } %>
    <% } %>
  </ul>
  <!-- Arms section -->
  <ul class="arms">
    <h3>Arm Workouts</h3>
    <% for(var i=0; i<messages.length; i++) {%>
    <% if (messages[i].area === "arms")  { %>
    <li class="message <%= messages[i].bookmarked ? 'blue' : '' %>">
      <h5><%= messages[i].name %></h5>
      <h5>Exercise: <%= messages[i].msg[0] %></h5>
      <h5>Sets: <%= messages[i].msg[1] %></h5>
      <h5>Reps: <%= messages[i].msg[2] %></h5>
      <span>Likes: <%= messages[i].thumbUp %></span>
      <span><i class="fa-solid fa-fire"></i></i></span>
      <span><i class="fa-solid fa-bookmark"></i></i></span>
      <span><i class="fa fa-trash" aria-hidden="true"></i></span>
    </li>
    <% } %>
    <% } %>
  </ul>
</section>

<section class="areaTwo">

  <!-- Chest Section -->
  <ul class="chest">
    <h3>Chest Workouts</h3>
    <% for(var i=0; i<messages.length; i++) {%>
    <% if (messages[i].area === "chest")  { %>
    <li class="message <%= messages[i].bookmarked ? 'blue' : '' %>">
      <h5><%= messages[i].name %></h5>
      <h5>Exercise: <%= messages[i].msg[0] %></h5>
      <h5>Sets: <%= messages[i].msg[1] %></h5>
      <h5>Reps: <%= messages[i].msg[2] %></h5>
      <span>Likes: <%= messages[i].thumbUp %></span>
      <span><i class="fa-solid fa-fire"></i></i></span>
      <span><i class="fa-solid fa-bookmark"></i></i></span>
      <span><i class="fa fa-trash" aria-hidden="true"></i></span>
    </li>
    <% } %>
    <% } %>
  </ul>

<!-- Shoulders section -->
  <ul class="shoulders">
    <h3>Shoulder Workouts</h3>
    <% for(var i=0; i<messages.length; i++) {%>
    <% if (messages[i].area === "shoulders")  { %>
    <li class="message <%= messages[i].bookmarked ? 'blue' : '' %>">
      <h5><%= messages[i].name %></h5>
      <h5>Exercise: <%= messages[i].msg[0] %></h5>
      <h5>Sets: <%= messages[i].msg[1] %></h5>
      <h5>Reps: <%= messages[i].msg[2] %></h5>
      <span>Likes: <%= messages[i].thumbUp %></span>
      <span><i class="fa-solid fa-fire"></i></i></span>
      <span><i class="fa-solid fa-bookmark"></i></i></span>
      <span><i class="fa fa-trash" aria-hidden="true"></i></span>
    </li>
    <% } %>
    <% } %>
  </ul>

<!-- Core Section -->
  <ul class="core">
    <h3>Core Workouts</h3>
    <% for(var i=0; i<messages.length; i++) {%>
    <% if (messages[i].area === "core")  { %>
    <li class="message <%= messages[i].bookmarked ? 'blue' : '' %>">
      <h5><%= messages[i].name %></h5>
      <h5>Exercise: <%= messages[i].msg[0] %></h5>
      <h5>Sets: <%= messages[i].msg[1] %></h5>
      <h5>Reps: <%= messages[i].msg[2] %></h5>
      <span>Likes: <%= messages[i].thumbUp %></span>
      <span><i class="fa-solid fa-fire"></i></i></span>
      <span><i class="fa-solid fa-bookmark"></i></i></span>
      <span><i class="fa fa-trash" aria-hidden="true"></i></span>
    </li>
    <% } %>
    <% } %>
  </ul>
</section>
</section>

    </div>


    <script src="main.js"></script>

</body>

</html>
